.container {
	width: 100%;
	margin: auto;
	filter: blur(5px);
	overflow: hidden;
}

.linha-do-tempo {
	display: flex;
	align-items: center;
	width: 95%;
	margin: auto;
	position: relative;
	top: 20px;
}

.circle {
	background-color: rgb(0, 113, 0);
	border-radius: 50%;
	width: 20px;
	text-align: center;
	margin: 7px;
}

.circle-inativo {
	background-color: rgb(154, 154, 154);
	border-radius: 50%;
	width: 20px;
	text-align: center;
	margin: 7px;
}

.numero {
	color: white;
	font-size: 14px;
}

.linha {
	background-color: grey;
	width: 25px;
	height: 1px;
	margin: 0px 15px 0px 15px;
}

.formulario {
	width: 90%;
	margin: 40px auto;
}

.descricao {
	font-size: 16px;
	color: rgb(0, 0, 0);
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 400;
}

.inputs {
	margin-top: 10px;
	width: 30%;
	min-width: 100px;
}

.label-input {
	font-size: 18px;
	font-weight: 500;
}

.longitude {
	margin-top: 10px;
}

.mapa {
	width: 65%;
	height: 250px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0px 0px 10px rgb(159, 159, 159);
	border-radius: 5px;
	z-index: 0;
}

.inputs-mapa {
	display: flex;
	flex-wrap: wrap;
	height: 290px;
}